SECRET_KEY=""
DEBUG=""
SITE_NAME=""
ADMIN_URL=""
EMAIL_PORT=""
EMAIL_HOST=""
DEFAULT_FROM_EMAIL=""
DOMAIN=""
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
BANK_NAME=""
CELERY_FLOWER_USER=""
CELERY_FLOWER_PASSWORD=""
CELERY_BROKER_URL=""
CELERY_RESULT_BACKEND=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECERET=""
SIGNING_KEY=""
BANK_CODE=""
BANK_BRANCH_CODE=""
CURRENCY_CODE_BDT=""
CURRENCY_CODE_GBP=""
CURRENCY_CODE_USD=""